body{
    margin: 0;
    box-sizing: border-box;
    /* font-size: 1.5em; */
}

/* start header section */
#header{
background-color: #f5df4e;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header-bar{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
 
    
}


.header-head{
    width: 120px;
    /* height: 100px; */
    
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.header-head img{
    object-fit: cover;
    width: 100%;
}



.header-info{
    width: 200px;
    /* height: 100px; */
 
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    
    
    
}

/* fnish header section */


/* start home section */

#home{
    background-color: #f5df4e;
    
}

.home-item{
     
    height: 500px;
    /* border: 1px solid red; */

    
}

.btn{
   
    background-color: black;
    padding: 20px 50px;
    display: inline-block;
    cursor: pointer;
    /* box-shadow: 1px 1px 10px black; */
   

}

.btn-work{
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* text-shadow: 0px 0px 70px white; */
   
   

}

.text-1{
    font-size: 30px;
    font-weight: bold;
}

.text-2{
    font-size: 1.5em;
}

.text-3{
    padding-left: 30px;
    color: black;
    font-size: 1.3em;
}

.text-3:hover{
    text-decoration: none;
}

.home-item .sekil{
    width: 430px ;
    height: 430px;
    /* border: 1px solid green; */
    
    

  
}

.home-item .sekil img{
    border-radius: 50rem;
    border: 15px solid white;
    object-fit: cover;
    width: 430px;
    height: 430px;
}

/* finish home section */


/* start service section */

.service-container{
    width: 1340px;
    margin:0 auto;
    border: 1PX solid red;

}

.service-row .about{
    text-align: center;
    
}

.service-row button{
    background-color:#f5df4e; 
}
.callum{
    width: 600px;
    height: 180px;
    border: 1px solid green;
}

.ilkin{
    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 50rem;
    background-color:#f5df4e ;
    text-align: center;
}

.ilkin span{
    font-size: 100px;
}
    






